PORT=<your_port>
DATABASE_URL=<your_database_url>
FLIGHT_SERVICE_URL=<your_flight_service_url>
EXCHANGE_NAME=<your_exchange_name_string>
REMAINDER_BINDING_KEY=<your_remainder_binding_key_string>
MESSAGE_BROKER_URL='amqp://localhost'